# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives**: 
- List popular languages for Data Science
- List popular tools for Data Science
- List popular libraries for Data Science
- A simple arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. Scala
4. C++

Some of the popular languages that Data Scientists use are:
1. Pandas
2. NumPy
3. TensorFlow
4. SciPy

| Data Scince Tools|
| --- |
| Apache Spark |
| Apache Hadoop |
| Project Jupiter |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author:
Federico